@import '../../../style.scss';

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: $color-main;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 15px 20px;
  button {
    font-family: $regular-font;
    font-size: $login-input-font-size;
    border-radius: 5px;
  }
  .topbar-logout {
    background-color: $color-input-wrong;
    color: white;
    border-color: $color-input-wrong;
  }
}
