@import '../../style.scss';

.login-container {
  @extend %center-wrapper;
  width: 100%;
  height: 100%;
  background-image: url('https://i.pinimg.com/originals/ed/1e/2d/ed1e2df6ff8f27e50724b091ccba4645.jpg'); 
  background-repeat: no-repeat;
  background-color: darkgray;
  background-blend-mode: screen;
}

.login-box {
  @extend %center-wrapper;
  margin: 0 auto;
  min-height: 270px;
  min-width: $login-field-min-width * 1.1;
  width: 40%;
  max-width: $login-field-min-width * 1.4;
  background: $color-main;
  opacity: 1;
}

.login-header {
  font-family: $header-font;
  font-size: 22pt;
  color: $color-main-font;
  margin-top: 15px;
  margin-bottom: 5px;
}
