@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Charm');

$header-font: 'Charm', cursive;
$regular-font: 'Fira Sans', sans-serif;

$color-main: #ffffa9;
$color-main-font: black;

$color-secondary: #dadada;
$color-secondary-font: black;

$color-input-pending: #5478ee;
$color-input-correct: #12bb75;
$color-input-wrong: #db7719;

$login-field-min-width: 250px;
$login-input-font-size: 11pt;

%center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
