@import '../../style.scss';

.notification-container {
  position: fixed;
  width: 200px;
  top: 0;
  left: 0;
  margin: 30px;
}

.notification {
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  h4 {
    margin: 4px;
    font-family: $regular-font;
    font-size: 11pt;
  }
  p {
    margin: 4px;
    font-family: $regular-font;
    font-size: 10pt;
  }
}

.notification-error {
  background: rgb(226, 121, 121);
}
.notification-success {
  background: rgb(89, 138, 77);
}
