@import '../../style.scss';

.notification-container {
  position: fixed;
  width: 200px;
  top: 0;
  left: 0;
  margin: 30px;
}

.notification {
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  h4 {
    margin: 4px;
    font-family: $regular-font;
    font-size: 9.5pt;
  }
  p {
    margin: 4px;
    font-family: $regular-font;
    font-size: 10pt;
  }
}

$color-error-accent: #422323;
.notification-error {
  background: #f19595;
  border: 3px solid $color-error-accent;
  * {
    color: $color-error-accent;
  }
}
$color-success-accent: #223b22;
.notification-success {
  background: #64c464;
  border: 3px solid $color-success-accent;
  * {
    color: $color-success-accent;
  }
}

.notification-animation-enter {
  opacity: 0.01;
}
.notification-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.notification-animation-exit {
  opacity: 1;
}
.notification-animation-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
